@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-size: 15px;
    font-family: 'Inter Tight', sans-serif;
    margin: 0 auto;
    max-width: 1800px;
}

img {
    width: 100%;
}

:hover {
    transition: .3s;
}



/* REUSABLE CLASSES */
.primary-text {
    color: var(--Dark-grayish-blue);
    line-height: 2;
    letter-spacing: 1.2px;
    font-size: 1rem;
}

.secondary-text {
    color: var(--Grayish-blue)
}

.title-01 {
    color: var(--Very-dark-blue);
    font-size: 3.5rem;
    font-weight: 900;
}

.title-02 {
    color: var(--Soft-orange);
    font-size: 2.5rem;
}

.title-03 {
    color: var(--Off-white);
    font-size: 1.5rem;
}

.title-03:hover {
    color: var(--Soft-orange);
}

.title-04 {
    color: var(--Grayish-blue);
    font-size: 1.7rem;
}

.title-05 {
    color: var(--Very-dark-blue);
    font-size: 1.1rem;
    font-weight: 900;
}

.title-05:hover {
    color: var(--Soft-red)
}

hr {
   color: var(--Dark-grayish-blue);
}

.btn {
    background-color: var(--Soft-red);
    color:var(--Off-white);
    padding: 1rem 3.5rem;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    background-color:var(--Very-dark-blue);
}



/* NAVBAR */
#logo {
   width: 4rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

nav ul {
    display: flex;
    gap: 4rem;
}

nav ul li a {
    color: var(--Dark-grayish-blue);
}

nav ul li a:hover {
    color: var(--Soft-red);
}



/* MAIN */
.main-03 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}



/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

.title-03 a {
    color: var(--Off-white);
}

.title-03 a:hover {
    color: var(--Soft-orange);
}



/* Articles */
.article {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.article img{
    width: 6rem;
}

.article-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article p {
    color: var(--Dark-grayish-blue);
    width: 80%;
}




/* GRID CONTAINER */
.grid-container {
    display: grid;
    height: 100vh;
    margin: 5rem 10rem 8rem 10rem;
    gap: 3rem 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "nav nav nav"
    "main01 main01 aside"
    "main02 main03 aside"
    "article-01 article-02 article-03"
    ;
}

nav {
    grid-area: nav;
}

.main-01 {
    grid-area: main01;
}

.main-02 {
    grid-area: main02;
}

.main-03 {
    grid-area: main03;  
}

aside {
    grid-area: aside;
    background-color: var(--Very-dark-blue);
}

.article-01 {
    grid-area: article-01;
}

.article-02 {
    grid-area: article-02;
}

.article-03 {
    grid-area: article-03;

}

