@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

body {
  font-size: 15px;
  font-family: "Outfit", "Sans-serif";
  background-color: var(--Light-gray);
}

h1,
p {
  line-height: 1.2;
}

img {
  width: 100%;
}

/********** Outer Container **********/
.outer-container {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-gray);
}

/********** Card Container **********/
.card-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;

  background-color: var(--White);
  border-radius: 20px;
  padding: 1rem;
  width: 20rem;

  text-align: center;
}

.card-image {
  border-radius: 15px;
}

.card-text-content {
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
}

.card-title {
  color: var(--Dark-blue);
  font-size: 1.4rem;
}

.card-text {
  color: var(--Grayish-blue);
  width: 90%;
}

/********** Mobile View **********/
