@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Lighter-Blue: hsl(233, 100%, 78%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --Light-Grey: hsla(0, 0%, 90%, 0.745);
}

body {
  font-family: "Bai Jamjuree", "sans-serif";
  background-color: var(--Light-Grey);
  margin: 0 auto;
}

main {
  max-width: 1800px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--Dark-Grayish-Blue);
  line-height: 1.5;
}

.sub-text {
  line-height: 2;
}

/********** HEADER **********/
.intro {
  display: grid;
  height: 80vh;
  align-content: center;
  justify-items: center;
  text-align: center;
  gap: 1rem;

  background-image: url(./images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/********** LOGO **********/
.logo {
  margin-bottom: 2rem;
}

/********** HEADER TEXT **********/
.intro-title {
  font-size: 3rem;
  width: min(800px, 50%);
}

.intro-text {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  color: var(--Grayish-Blue);
  width: min(800px, 70%);
}

/********** SUB INTRO **********/
.sub-intro {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.sub-title {
  font-size: 2.2rem;
}

.sub-text {
  font-size: 1rem;
  color: var(--Grayish-Blue);
  text-align: center;
  margin: 0 auto;
  width: min(800px, 70%);
}

/********** CTA BUTTONS **********/
.cta-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-top: 2.5rem;
  gap: 1rem;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  border: none;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 -10px 5px -10px #000000;
}

/********** IOS BUTTON GREEN **********/
.btn-ios {
  background-color: var(--Strong-Cyan);
}

/********** IOS BUTTON GREEN **********/
.btn-mac {
  background-color: var(--Light-Blue);
}

.btn-mac:hover {
  background-color: var(--Lighter-Blue);
  transition: 0.2s ease-in-out;
}

/********** iMac Section **********/
.imac-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  height: 50vh;
}

.img-imac {
  background-repeat: no-repeat;
  transform: translateX(-5%);
  height: 600px;
}

.imac-aside {
  display: grid;
  justify-self: center;
  gap: 4rem;
  margin: 4rem 6rem 4rem 0;
  width: 50%;
}

.imac-aside h3 {
  font-size: 1.5rem;
}

.imac-aside p {
  color: var(--Grayish-Blue);
}

/********** Tablet Section **********/
.tablet-section {
  margin-top: 20rem;
  text-align: center;
}

.tablet-section .sub-text {
  margin-bottom: 5rem;
  width: min(600px, 70%);
}

/********** MOBILE VIEW **********/
@media (max-width: 500px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--Dark-Grayish-Blue);
    line-height: 1.5;
  }
  /********** HEADER **********/
  .intro {
    display: grid;
    height: 80vh;
    align-content: center;
    justify-items: center;
    text-align: center;
    gap: 1rem;

    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  /********** LOGO **********/
  .logo {
    margin-bottom: 2rem;
  }

  /********** HEADER TEXT **********/
  .intro-title {
    font-size: 2rem;
    width: min(800px, 90%);
  }

  .intro-text {
    font-size: 1rem;
    letter-spacing: 0.5px;
    color: var(--Grayish-Blue);
    width: min(800px, 100%);
  }

  /********** CTA BUTTONS **********/
  .cta-buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 80%;
  }

  .btn {
    padding: 1rem 2rem;
    margin-left: 0.7rem;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: inset 0 -10px 5px -10px #000000;
  }

  /********** SUB INTRO **********/
  .sub-intro {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
  }

  .sub-title {
    font-size: 1.8rem;
    width: min(800px, 70%);
    text-align: center;
  }

  .sub-text {
    font-size: 1rem;
    color: var(--Grayish-Blue);
    width: min(800px, 80%);
    text-align: center;
  }

  /********** IOS BUTTON GREEN **********/
  .btn-ios {
    background-color: var(--Strong-Cyan);
  }

  /********** IOS BUTTON GREEN **********/
  .btn-mac {
    background-color: var(--Light-Blue);
  }

  .btn-mac:hover {
    background-color: var(--Lighter-Blue);
    transition: 0.2s ease-in-out;
  }

  /********** iMac Section **********/
  .imac-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .img-imac {
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(0%);
    height: auto;
    max-width: 80vw;
    margin: 0 auto;
  }

  .imac-aside {
    display: grid;
    justify-self: center;
    gap: 4rem;
    margin: 4rem 0;
    width: 80%;
    text-align: center;
  }

  .imac-aside h3 {
    font-size: 1.5rem;
  }

  .imac-aside p {
    color: var(--Grayish-Blue);
  }

  /********** Tablet Section **********/
  .tablet-section {
    margin-top: 25rem;
  }

  .tablet-section .sub-title {
    text-align: center;
    width: min(800px, 70%);
    margin: 0 auto;
  }

  .tablet-section .sub-text {
    width: min(800px, 80%);
    margin-top: 1rem;
  }

  .img-tablet {
    max-width: 90vw;
  }
}
